body {
  background-color: #f8f9fa;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
* {
  box-sizing: border-box;
}
.custom-control-label {
  font-weight: 400;
}

.sil-border-right {
  border-right: 1px solid #eee;
  box-sizing: border-box; /* Adjusting the box-sizing property to prevent horizontal scrollbar */
}

.full-height {
  height: calc(100vh - 60px); /* Subtract the height of a 60px fixed element */
  overflow: hidden; /* Hide the vertical scrollbar */
}

.sidebar {
  background-color: #343a40;
  color: #fff;
  height: calc(100vh - 60px); /* Subtract the height of a 60px fixed element */
  overflow: hidden; /* Hide the vertical scrollbar */
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #e9ecef;
}

.active {
  background-color: #495057;
}

.move-left {
  margin-left: 0;
  transition: margin-left 0.6s ease-in-out;
}

.move-right {
  transition: margin-left 0.6s ease-in-out;
}

.toggle-button {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  /* Add other styles as needed */
}

.toggle-open {
  /* Add styles for the open state */
}

.toggle-closed {
  /* Add styles for the closed state */
}

.toggle-button {
  background: #5e8bee;
  border: none;
  margin: 5px;
  color: #fff;
  font-weight: bolder;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin-bottom: 4px;
  transition: transform 0.3s ease-in-out;
}

.active .line:first-child {
  transform: translateY(6px) rotate(45deg);
}

.active .line:last-child {
  transform: translateY(-6px) rotate(-45deg);
}

.sidebar ul li a {
  color: #fff;
}

.sidebar ul li a:hover {
  color: #e4e1e1;
}

.show-ham-burg {
  background: #5e8bee;
  padding: 20px;
}

.user-profile {
  text-align: right;
  position: absolute;
  right: 17px;
  top: 0px;
  
}

.user-profile .dropdown button svg {
  color: #fff !important;
}

.dropdown-toggle::after  {
  color: #fff !important;
}


.err-msg {
  color: rgb(255, 0, 0) !important; 
  font-size:15px !important
}

